body {
	background: url('images/background.jpeg') repeat fixed center center;
}

nav.menu a {
	display: block;
	padding: 10px 14px;
	font-size: 25px;
	text-decoration: none;
	color: white;
}

.icon {
	background: url('images/icon.png') fixed;
	width : 90px;
	height: 110px;
}

menu {
	width: 800px;
	margin: 0 auto;
}
footer {
	background: url('images/menu_bot_bg.png') repeat-x 0 bottom;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	z-index: 1000;
}

div.Rpanel {
	margin-top: 30px;
}

section.slideshow {
	width: 805px;
	height: 650px;
}
div.photo {
	background: url('images/mask2.png') no-repeat;
	width: 805px;
	height: 488px;
	z-index: 100;
}
section.slideshow ul.train {
	left :0px;
	top :0px;
	-webkit-transition: left 900ms ease-in-out;
}
section.slideshow ul.train > li {
	width :805px;
	height: 450px;
}
section.slideshow > ul.selector {
	margin-left: 100px;
	margin-top:470px;
}

section.slideshow > ul.selector  li{
	float : left;
	width : 120px;
	height: 65px;
	opacity: 0.5;
	cursor: pointer;
	background   : #374;
	margin-right : 25px;
	border-radius: 2px;
	margin-top: 5px;
	-webkit-transition: all 700ms;
}


section.slideshow > ul li:hover {
	height    : 75px;
	background: #2677AD;
	opacity: 1;
	margin-top: 0;
	-webkit-transition: all 300ms;
}

div.floral1 {
	background: url('images/floral1.png') no-repeat;
	width: 200px;
	height: 300px;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1001;
}